<!DOCTYPE html>
<html>
<head>

    <title>Escape Room Challenge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🔒 ESCAPE ROOM</h1>

    <h2>Cyber Security Challenge</h2>

    <p class="subtitle">

        Welcome Agent!

        <br><br>

        Your mission is to answer every question correctly.

        <br><br>

        You have only

        <b style="color:red;">2 attempts</b>

        for each question.

    </p>

    <a href="/start">

        <button>

            START CHALLENGE

        </button>

    </a>

</div>

</body>
</html>