<!DOCTYPE html>
<html>
<head>
    <title>Challenge Completed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🎉 CHALLENGE COMPLETED</h1>

    <p class="subtitle">
        Congratulations!
        <br><br>
        You successfully completed the Escape Room Challenge.
    </p>

    <h2>SECRET CODE</h2>

    <div class="code">
        ESCAPE-2026
    </div>

    <a href="/restart">
        <button>Play Again</button>
    </a>

</div>

</body>
</html>